/**
 * _projects.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.projects {
    padding-top: $m-size;
    color: $primary;
}

.projects-heading {
    padding-bottom: 1rem;
    color: $primary;
    text-align: center;
}

.projects-list {
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.projects-list-item {
    @extend .projects-list;
    padding: 1rem;
    background-color: $back-ground-list ;
    border-radius: $border-radius !important;
    box-shadow: 5px 5px 15px rgba($back-ground, .5) !important;
    max-height: 20rem;
    overflow: hidden;
    &:hover {
        background-color: darken($back-ground-list, 5%);
        box-shadow: 5px 5px 15px darken(rgba($back-ground, .5), 5%) !important;
    }

    @include media-breakpoint-up(md) {
        width: 18rem;
    }
}

.projects-list-item-header {
    width: auto;
    margin-bottom: auto;
    display: flex;
    padding: 0.8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;

    h4 {
        text-align: center;
        color: darken($primary, 5%);
    }

    a {
        color: $secondary;
        &:active,
        &:focus {
            outline: none;
        }
        &:hover {
            color: $primary;
        }
    }
}

.projects-list-item-description {
    color: darken($primary, 11%);
    line-height: 1.2rem;
}

