/**
 * _blog.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.blog, .contributions {
  @extend .section;
  @include media-breakpoint-down(sm) {
    padding: $s-size 0;
  }
}

.blog-heading, .contributions-heading {
  color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem;
  padding: 1rem 0;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
    margin: 0;
  }
}

.blog-heading-text {
  padding-left: 1rem;
  text-align: right;
}

.blog-heading-dropdown {
  padding-top: 1rem;
  height: 80%;
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
  }
}

.blog-post {
  padding: 2rem 3rem;
  margin-top: 1rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post-button-full {
  margin-top: 3rem;
  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.blog-post-body, .contributions-body {
  padding: 0.5rem 3rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

.blog-post-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @include media-breakpoint-down(sm){
    flex-direction: column;
  }
}

.blog-post-heading {
  padding: 1rem 3rem;
  font-style: italic;
  color: $primary;
  @include media-breakpoint-down(sm) {
    padding: 0;
    align-self: flex-start;
  }
}

.blog-post-heading-date {
  font-size: 1rem;
  padding: 0 3rem;
  color: $primary;
  @include media-breakpoint-down(sm){
    padding: 0;
    font-size: 1rem;
    align-self: flex-end;
  }
}


.markdown-body-custom {
  @extend .markdown-body;
  font-size: 1.1rem;
  @include media-breakpoint-up(md){
    font-size: 1.5rem;
  }
  a {
    //font-weight: bolder;
    text-decoration: underline;
    color: $link-color;
    &:hover {
      color: darken($link-color, 10%);
    }
  }
  color: $primary;
  font-family: $font-family-sans-serif;

  table {
    color: $primary;
    box-shadow: none;
    outline: 0;
    thead {
      border: 0 none;
      tr{
        th {
          border: 0 none;
          background-color: lighten($back-ground-list, 5%);
          text-align: center;
          padding: 1rem 0.5rem;
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
          }
        }
        border-width: 0;
        border: none;
        background-color: $back-ground-list;
        text-align: center;
      }
    }

    border-radius: $border-radius;

    tbody {
      tr {
        padding: 1rem 0.5rem;
        align-items: center;
        border-width: 0;
        background-color: $back-ground-list;
        &:nth-child(2n) {
          color: lighten($primary, 5%);
          background-color: lighten($back-ground-list, 5%);
        }

        td {
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
          }
          border-width: 0;
          text-align: center;
          padding: 1rem 0.5rem;
        }
      }
    }
  }


}


