/**
 * _blog.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.blog, .contributions {
  @extend .section;
  @include media-breakpoint-down(sm) {
    padding: $s-size 0;
  }
}

.blog-heading, .contributions-heading {
  color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem;
  padding: 2rem 0;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
    margin: 0;
  }
}

.blog-heading-text {
  padding-left: 1rem;
  text-align: right;
}

.blog-heading-dropdown {
  padding-top: 1rem;
  height: 80%;
  @include media-breakpoint-down(sm) {
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
  }
}

.blog-post {
  padding: 2rem 5rem;
  margin-top: 1rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post-button-full {
  margin-top: 3rem;
  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.blog-post-body, .contributions-body {
  padding: 1rem 5rem;
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

.blog-post-heading {
  padding: 2rem 5rem;
  font-style: italic;
  color: $primary;
  @include media-breakpoint-down(sm) {
    padding: 0.5rem 0;
  }
}


.markdown-body-custom {
  @extend .markdown-body;
  font-size: 1.1rem;
  @include media-breakpoint-up(md){
    font-size: 1.5rem;
  }
  a {
    //font-weight: bolder;
    text-decoration: underline;
    color: $link-color;
    &:hover {
      color: darken($link-color, 10%);
    }
  }
  color: $primary;
  font-family: $font-family-sans-serif;

  table {
    color: $primary;
    box-shadow: none;
    outline: 0;
    thead {
      border: 0 none;
      tr{
        th {
          border: 0 none;
          background-color: lighten($back-ground-list, 5%);
          text-align: center;
          padding: 1rem 0.5rem;
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
          }
        }
        border-width: 0;
        border: none;
        background-color: $back-ground-list;
        text-align: center;
      }
    }

    border-radius: $border-radius;

    tbody {
      tr {
        padding: 1rem 0.5rem;
        align-items: center;
        border-width: 0;
        background-color: $back-ground-list;
        &:nth-child(2n) {
          color: lighten($primary, 5%);
          background-color: lighten($back-ground-list, 5%);
        }

        td {
          @include media-breakpoint-down(sm) {
            padding: 0.5rem;
          }
          border-width: 0;
          text-align: center;
          padding: 1rem 0.5rem;
        }
      }
    }
  }

  code {
    padding: .05em .3em;
    font-family: $font-family-monospace;
    color: darken($nav-focus, 5%);
    border: none;
  }

  pre {
    background-color: darken($back-ground, 5%);
    font-family: $font-family-monospace;
    color: $primary;
    border-radius: $border-radius;
  }

  blockquote {
    color: lighten($primary, 10%);
  }
  pre code {
    color: $primary;
  }

  .highlight {
    pre, pre {
      color: $primary;
      background-color: darken($back-ground, 5%);
      border-radius: $border-radius;

    }

    .pl-c /* comment, punctuation.definition.comment, string.comment */
    {
      color: #53c6dc;
    }

    .pl-c1 /* constant, entity.name.constant, variable.other.constant, variable.language, support, meta.property-name, support.constant, support.variable, meta.module-reference, markup.quote, markup.raw, meta.diff.header */
    {
      color: #28a745;
    }
    .pl-s .pl-v /* string variable */
    {
      color: #c8e1ff;
    }

    .pl-e /* entity */
    ,
    .pl-en /* entity.name */
    {
      color: #b392f0;
    }

    .pl-smi /* variable.parameter.function, storage.modifier.package, storage.modifier.import, storage.type.java, variable.other */
    {
      color: #79b8ff;
    }
    .pl-s .pl-s1 /* string source */
    {
      color: #f6f8fa;
    }

    .pl-ent /* entity.name.tag */
    {
      color: #7bcc72;
    }

    .pl-k /* keyword, storage, storage.type */
    {
      color: #979dd7;
    }

    .pl-s /* string */
    {
      color: #fb8eb9;
    }
    .pl-s .pl-pse .pl-s1 /* string punctuation.section.embedded source */
    {
      color: $primary;
    }
    .pl-pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */
    {
      color: rgba(227, 140, 9, 0.98);
    }
    .pl-sr /* string.regexp */
    {
      .pl-cce /* string.regexp constant.character.escape */
      {
        color: #007bff;
      }
      .pl-sre /* string.regexp source.ruby.embedded */
      {
        color: inherit;
      }
      .pl-sra /* string.regexp string.regexp.arbitrary-repitition */
      {
        color: inherit;
      }
    }

    .pl-v /* variable */
    ,
    .pl-ml /* markup.list, sublimelinter.mark.warning */
    {
      color: #fb8532;
    }

    .pl-bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
    {
      color: #d73a49;
    }

    .pl-ii /* invalid.illegal */
    {
      color: #fafbfc;
      background-color: #d73a49;
    }

    .pl-c2 /* carriage-return */
    {
      color: #fafbfc;
      background-color: #d73a49;
    }

    .pl-c2::before /* carriage-return */
    {
      content: "^M";
    }

    .pl-sr .pl-cce /* string.regexp constant.character.escape */
    {
      font-weight: bold;
      color: #7bcc72;
    }

    .pl-mh /* markup.heading */
    ,
    .pl-mh .pl-en /* markup.heading entity.name */
    ,
    .pl-ms /* meta.separator */
    {
      font-weight: bold;
      color: #0366d6;
    }

    .pl-mi /* markup.italic */
    {
      font-style: italic;
      color: #f6f8fa;
    }

    .pl-mb /* markup.bold */
    {
      font-weight: bold;
      color: #f6f8fa;
    }

    .pl-md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
    {
      color: #b31d28;
      background-color: #ffeef0;
    }

    .pl-mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
    {
      color: #176f2c;
      background-color: #f0fff4;
    }

    .pl-mc /* markup.changed, punctuation.definition.changed */
    {
      color: #b08800;
      background-color: #fffdef;
    }

    .pl-mi2 /* markup.ignored, markup.untracked */
    {
      color: #2f363d;
      background-color: #959da5;
    }

    .pl-mdr /* meta.diff.range */
    {
      font-weight: bold;
      color: #b392f0;
    }

    .pl-mo /* meta.output */
    {
      color: #0366d6;
    }

    .pl-ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */
    {
      color: #e36209;
    }

    .pl-sg /* sublimelinter.gutter-mark */
    {
      color: #6a737d;
    }

    .pl-corl /* constant.other.reference.link, string.other.link */
    {
      text-decoration: underline;
      color: #79b8ff;
    }
  }
}


