/**
 * _contact.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.contact {
    @extend .section;
}

.contact-form {
    @extend .form;
}

.contact-heading {
    color: $primary;
    text-align: center;
}

.contact-alert {
    margin: 1rem 0;

    &--success {
        @extend .contact-alert;
        color: darken($success, 50%);
        background-color: $success;
        border-color: darken($success, 5%);
        box-shadow: none;
        outline: none;
    }
    &--danger {
        @extend .contact-alert;
        color: darken($danger, 50%);
        background-color: $danger;
        border-color: darken($danger, 5%);
        box-shadow: none;
        outline: none;
    }
}

.contact-button {
    @extend .btn;
    &:active,
    &:focus {
        background-color: $focus;
        border-color: darken($focus, 10%);
    }

    &:hover {
        color: lighten($secondary, 10%);
        border-color: darken($info, 15%);
    }
    width: 100%;
}

.contact-form {
    @extend .form;
}

.contact-form-group {
    @extend .form-group;
}

.contact-form-control {
    @extend .form-control;
}

.contact-form-control-textarea {
    @extend .form-control-textarea;
}

