/**
 * _contact.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.contact {
    color: $primary;
    padding-top: $m-size;
    @include media-breakpoint-down(sm) {
        padding-top: $s-size;
    }
    @include media-breakpoint-up(lg) {
        padding-top: $l-size;
    }
}
.contact-heading {
    text-align: center;
}

.contact-alert {
    background-color: $success;
    margin: 1rem 0;
}

.contact-button{
    color: darken($secondary, 10%);
    background-color: $primary;
    border-color: darken($primary, 15%);
    border-width: 1.5px !important;
    &:active,
    &:focus {
        background-color: $focus;
        outline: 0 !important;
    }
    &:hover {
        color: lighten($primary, 10%);
        background-color: $focus;
        border-color: darken($focus, 5%);
    }
}

.contact-form {
}

.contact-form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-form-control {
    @extend .contact-form-group;

    background-color: darken($primary, 10%) !important;
    &:active,
    &:focus {
        background-color: $primary !important;
        border: 0 !important;
        outline: none !important;
    }
}

.contact-form-control-textarea {
    @extend .contact-form-control;
    height: 12rem !important;
}

