/**
 * _divider.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */


.divider {
  .divider-line {
    width: 100%;
    height: 0.5rem;
    background-color: $section;
    border-radius: $border-radius;
    @include media-breakpoint-down(xs) {
      height: 0.2rem;
      border-radius: 0;
    }
  }
}
