/**
 * _navbar.scss
 * @author [Keisuke Suzuki](https://github.com/ksuzu46)
 * @description Styling for the navbar
 */

.navbar {
  @include media-breakpoint-down(xs) {
    padding: 1rem;
  }
  padding: $s-size;
  background-color: $back-ground;
  border-bottom: solid 1px $section;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  outline: none;
  box-shadow: none;

  .navbar-brand {
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }

    &:active,
    &:focus {
      color: darken($primary, 10%);
      outline: none;
      box-shadow: none;
    }
  }

  .navbar-nav {
    color: $primary;
    &:active &:focus {
      color: $focus;
      outline: none;
      box-shadow: none;
    }
    .nav-item {
      & .active, &:active &:focus {
        color: $focus;
        outline: none;
        box-shadow: none;
      }
    }
    .nav-link {
      text-align: center;
      color: $primary;
      cursor: pointer;
      &:hover {
        color: darken($primary, 10%);
      }
    }
  }


  .navbar-toggler {
    font-size: 1.5rem;
    color: $primary;
    font-weight: bold;
    &:active,
    &:focus {
      color: $focus;
      outline: none;
      box-shadow: none !important;
    }
    i {
      background: none;
    }
  }
}