/**
 * _projects.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.projects {
    padding-top: $m-size;
    @include media-breakpoint-down(sm) {
        padding-top: 1.7rem;
    }
}

.projects-heading {
    padding-bottom: 1rem;
    color: $primary;
    text-align: center;
}

.projects-list {
    flex-direction: row;
    justify-content: space-between;
}

.projects-col {
    margin-bottom: 2rem;
    height: auto;
    max-height: 40rem;
}

.card {
    border: none !important;
    box-shadow: none !important;
    background-color: $back-ground !important;

    &:hover {
        .projects-card-header {
            background-color: darken($secondary, 5%);
            border-color: lighten($secondary, 10%) !important;
        }

        .projects-card-text {
            background-color: darken($back-ground-list, 5%);
            border-color: darken($back-ground-list, 10%) !important;
        }
    }
}

.projects-card {
    @extend .card;
    height: auto;
    transition: height 1s ease-in-out;
    @include media-breakpoint-up(md) {
        width: 18rem;
    }
}

.projects-card-header {
    border-style: solid !important;
    border-radius: $border-radius-lg $border-radius-lg 0 0 !important;
    border-width: $border-width $border-width 0 $border-width !important;
    border-color: lighten($secondary, 5%) !important;
    box-shadow: none !important;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: $secondary;


    .projects-card-title {
        display: flex;
        padding-top: 0.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h4 {
            margin-right: 0.5rem;
            text-align: center;
            color: $primary;
        }

        a {
            margin-left: 0.5rem;
            color: $primary;

            &:active,
            &:focus {
                outline: none;
            }

            &:hover {
                color: $focus;
            }
        }
    }
}


.projects-card-description {
    border-style: solid !important;
    border-radius: 0 0 $border-radius-lg $border-radius-lg !important;
    border-width: 0 $border-width $border-width $border-width !important;
    border-color: darken($back-ground-list, 5%) !important;
    background-color: $back-ground-list;
    line-height: 1.3rem;
    padding: 1rem 2rem;
    color: $white;
    overflow-y: hidden;
}


.projects-col .expanded {
    height: auto;
}

.projects-col .collapsed {
    height: 15rem;
}

.projects-card-description .expanded {
    overflow: visible;
}

.projects-card-description .collapsed {
    overflow-y: hidden;
}

