/**
 * _projects.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

.projects {
    padding-top: $m-size;
    background-color: $back-ground;
    @include media-breakpoint-down(sm) {
        padding-top: 1.7rem;
    }
}

.projects-heading {
    padding-bottom: 1rem;
    color: $primary;
    text-align: center;
}

.projects-list {
    @extend .projects;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    @extend .projects;
    padding: 1rem 0;
}

.projects-card {
    @extend .card;
    border: none !important;
    box-shadow: none !important;

    &:hover {
        .projects-card-header {
            background-color: darken($secondary, 5%) !important;
            border-color: lighten($secondary, 10%) !important;
        }
        .projects-card-description {
            background-color: darken($back-ground-list, 5%) !important;
            border-color: darken($back-ground-list, 10%) !important;
        }
        .projects-card-description-button {
            background-color: $primary !important;
            &:hover {
                background-color: darken($primary, 5%) !important;
            }
        }
    }
    @include media-breakpoint-up(md) {
        width: 18rem;
    }
}


.projects-card-header {
    @extend .projects-card;
    border-style: solid !important;
    border-radius: $border-radius-lg $border-radius-lg 0 0 !important;
    border-width: $border-width $border-width 0 $border-width !important;
    border-color: lighten($secondary, 5%) !important;
    box-shadow: none !important;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: $secondary !important;


    .projects-card-title {
        display: flex;
        padding-top: 0.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h4 {
            margin-right: 0.5rem;
            text-align: center;
            color: $primary;
        }

        a {
            margin-left: 0.5rem;
            color: $primary;

            &:active,
            &:focus {
                outline: none;
            }

            &:hover {
                color: $focus;
            }
        }
    }
}


.projects-card-description {
    @extend .projects-card;
    background-color: $back-ground-list !important;
    border-style: solid !important;
    border-radius: 0 0 $border-radius-lg $border-radius-lg !important;
    border-width: 0 $border-width $border-width $border-width !important;
    border-color: darken($back-ground-list, 5%) !important;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.projects-card-description-text {
    color: $white;
}

.projects-card-description-button {
    background-color: $back-ground-list !important;
    border: none !important;
    margin-top: 1rem;
    outline: none !important;
    &:active,
    &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background-color: $back-ground-list !important;
    }
}