/**
 * _class.scss
 * @author [Keisuke Suzuki](https://github.com/ksuzu46)
 */

img {
  width: 12rem;
  margin: 2rem;
  border-radius: 8px;
  @include media-breakpoint-down(xs) {
    max-width: 8rem;
    max-height: 8rem;
  }
}

.section {
  padding: $s-size 0;
  @include media-breakpoint-down(xs) {
    padding: 0.5rem 0;
  }
}

.row {
  justify-content: space-evenly;
  padding: 1rem 0;
  @include media-breakpoint-down(sm) {
    padding: 0.5rem 0;
  }
}

.btn {
  background-color: $primary;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    background-color: darken($primary, 5%);
    box-shadow: none !important;
    outline: none !important;
  }

  @include media-breakpoint-up(sm) {
    height: 3rem;
  }
}

.alert {
  display: flex;
  justify-content: left;
  padding: 0.5rem 1rem;
}


.form {
  background: none;
  padding: 4rem;
  @include media-breakpoint-down(xs) {
    padding: 1rem;
  }
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-down(xs) {
  }
}

.form-control {
  outline: none !important;
  background: none;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  box-shadow: none !important;
  border-bottom-color: darken($primary, 20%);
  color: darken($primary, 5%) !important;
  height: $container-m-size;
  @include media-breakpoint-down(xs) {
    height: $container-s-size;
  }

  &:active,
  &:focus {
    background-color: darken($back-ground, 1%);
    border-radius: $border-radius-sm $border-radius-sm 0 0;
    border-bottom-color: $primary;

    &::placeholder {
      opacity: 1;
      color: darken($primary, 30%);
    }
  }

  &:hover {

  }

  &::placeholder {
    opacity: 1;
    color: darken($primary, 10%);
  }

  &::-ms-input-placeholder {
    color: darken($primary, 10%);
  }
}

.form-control-textarea {
  @extend .form-control;
  height: 15rem !important;
  @include media-breakpoint-down(xs) {
    height: 12rem !important;
  }
}

.card {
  padding: 1rem 0;
  background: none;
  border: none;
  box-shadow: none;
  width: 24rem;

  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 1rem 3rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0.05rem 0;
  }
}

