/**
 * _page.scss
 * @author [Keisuke Suzuki](https://github.com/Ks5810)
 */

body {
    background: $back-ground;
}

.page {
    padding: $m-size 0;
    @include media-breakpoint-down(sm) {
        padding: $s-size 0;
    }
    @include media-breakpoint-up(lg) {
        padding: $l-size 0 20rem 0;
    }
}
