/**
 * _page.scss
 * @author [Keisuke Suzuki](https://github.com/ksuzu46)
 */


body {
  background: $back-ground;
  color: $primary;
  line-height: 1.6;
  font-size: 100%;
  font-weight: 400;
  font-family: $font-family-sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  padding: $m-size 0;
  @include media-breakpoint-down(xs) {
    padding-top: $s-size;
    padding-bottom: 0;
  }
}
